<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Кек лол арбидол</h1>
        <b><p>{{ user }}</p></b>
        <p>{{ login }}</p>
        <p>{{ token }}</p>
    </body>
</html>