{% block sidebar %}
{% comment %} <a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="medium material-icons">menu</i>
</a> {% endcomment %}
{% load staticfiles %}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
		<img src="{% static 'Account/img/sidebar-image.png'  %}" style="width:100%;"/>
                <!-- <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hnd01gaCiu89hpk4/videoblocks-transmitting-signals-to-the-neurons-active-neural-network-the-activity-of-blue-structures-that-transmit-signals-in-different-corners-of-the-screen-black-background-place-for-text-plexus_szwar989m_thumbnail-full01.png" style = "width:100%;">-->
	    </div>
                <a href="#user"><img class="circle" src="/{{ extUser.ava.name }}"></a>
            <a href="#name"><span class="white-text name"> {{ user.surname }} {{ user.name }} </span></a>
            <a href="#email"><span class="white-text email">  {{ user.mail }}  </span></a>
        </div>
    </li>
    {% if lang == "ru" %}
        {% comment %} <li><a href="/home">Личный кабинет</a></li> {% endcomment %}
        <li><a href="/home/view">Просмотреть</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/auth/logout">Выйти</a></li>
    {% elif lang == "en" %}
        {% comment %} <li><a href="/home">Private area</a></li> {% endcomment %}
        <li><a href="/home/view">View</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/auth/logout">Logout</a></li>
    {% endif %}
</ul>

<script>
    let SIDENAV_STATE = false;
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

    let sidenav_instance = $(".sidenav");

    $("#med-logo").click(function () {
        sidenav_instance.sidenav("open");        
    });
</script>
{% endblock %}
