{% block topbar %}
<nav>
    <div class="nav-wrapper">
      <a href="#" id="med-logo" class="brand-logo">Med.mosAI</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/auth/logout">
        
        {% if lang == "ru" %}
          Выйти
        {% elif lang == "en" %}
          Logout
        {% endif %}

        </a></li>
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"> <i class="material-icons"></i>menu</i></a></li> 
      </ul>
    </div>
</nav>     
{% endblock %}