<html>

<head>
    {% load staticfiles %}
    <title> Просмотр исследований </title>
    <link rel="stylesheet" href="{% static 'Account/style/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'Account/style/views.css' %}" />
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- <script src = "{% static 'p5/p5.min.js' %}"></script> -->
    <!-- <script src="{% static 'p5/addons/p5.dom.min.js' %}"></script>  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


    <script src = "{% static 'Account/loading.js' %}"></script>
    <script src = "{% static 'Account/js/search_research.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', initResearchList);

        function initResearchList() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        }
    </script>

    <style>
        #drop-area {
            width:100%;
            height: 80px;
            border: 3px dashed lightgrey;
            background-color: #f3f3fe;
            border-radius: 8px;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;       
        }

    </style>
</head>

<body>
    <div class = "loader" name = "loader" id = "loader">
    </div>

    {% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
    {% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}
    <br />
    <div class = "row">
        <div class = "col s1" style="height:80vh;" id = "left_col"></div>
        <div class = "col s10">
            <div class="row">
                <div class = "col s1"></div>
                <div class="col s8">
                <div class="row">
                <div class="input-field col s12">
                    <input id="searchResearchInput" type="text" class="validate">
                    {% if lang == "ru" %}
                        <label for="searchResearchInput">Поиск исследования</label>
                        <span class="helper-text">Введите номер исследования</span>
                    {% elif lang == "en" %}
                        <label for="searchResearchInput">Search research</label>
                        <span class="helper-text">Type research number</span>
                    {% endif %}
                </div>
                </div>
                </div>
                <div class = "col s2" style="padding-top: 2%;">
                    <a id ="upload-button" class="waves-effect waves-light btn"><i class="material-icons right">cloud_upload</i>

                    {% if lang == "en" %}
                        Upload research
                    {% elif lang == "ru" %}
                        Загрузить исследование
                    {% endif %}

                    </a>
                    {% comment %} <div id = "drop-area">
                        <p> Перетащите файлы сюда </p>
                    </div> {% endcomment %}
                </div>
                <div class = "col s1"></div>
            </div>
            <div class = "row">
                <div class = "center-flexbox">
                    <div class = "col s1"></div>
                    <div class = "col s10" id = "uploadResearchContainer"></div>
                    <div class = "col s1"></div>
                </div>
            </div>

            <div class="row">
                <div class="center-flexbox">
                    <div class="col s1"></div>
                    <div class="col s10 center-align" id = "researchListContainer">
                        <ul class="collapsible">
                            {% for d in data %}
                            <li class = "show{{ d.id }} showBase">
                                <div class="collapsible-header"><i class="material-icons series_icon">local_see</i>
                                    <p class="truncate"><b>{{d.id}}. </b> {{ d.series.series_instance_uid }} </p>
                                    
                                    {% if d.series.predictions_nods|length %}
                                        <span class="badge" data-badge-caption="" style="padding-top: 1.3%;">
                                            <i class="large material-icons">done</i>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m6 series_info">
                                            {% if lang == "en" %}
                                                <p class="truncate"><b>Patient ID: </b> {{ d.series.patient_id }} </p>
                                                <p class="truncate"><b>Number of slices: </b> {{ d.series.dicom_names_list | length }} </p>
                                                <br /><br />
                                                <a href="/series/view/{{d.series.id}}">View</a> <br />
                                                <a href="/series/mark_up/{{d.series.id}}">Mark up</a>
                                                <a href="/static/research_storage/zips/{{d.series.zip_name}}" style="margin-left:2%;">Download archive</a> <br />
                                                <a href="#" id="deleteResearch" onclick="deleteResearch({{d.series.id}});" style="color:red;">Delete research</a> 
                                            {% elif lang == "ru" %}
                                                <p class="truncate"><b>Patient ID: </b> {{ d.series.patient_id }} </p>
                                                <p class="truncate"><b>Слайсов: </b> {{ d.series.dicom_names_list | length }} </p>
                                                <br /><br />
                                                <a href="/series/view/{{d.series.id}}">Полный просмотр</a> <br />
                                                <a href="/series/mark_up/{{d.series.id}}">Разметить</a>
                                                <a href="/static/research_storage/zips/{{d.series.zip_name}}" style="margin-left:2%;">Скачать архив</a>
                                            {% endif %}
                                        </div>
                                        <div class="col s12 m6">
                                            <img src='/static/research_storage/dicoms/{{ d.series.dir_name }}/preview.png'
                                                class="series_preview" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col s1"></div>
                </div>
            </div>
        </div>
        <div class = "col s1"></div>
    <div>

    <script>
        const INTERFACE_LANG = "{{ lang }}";
    </script>

    <script> 
        {% comment %} $("#left_col").hover(
            function() {
                sidenav_instance.sidenav("open");
            }, function() {
                // when mouse leave the div
            }
        ); {% endcomment %}
        $("#upload-button").click(function() {
            uploadResearch();
        });
    </script>

    <script>
        {% comment %} let dropArea = document.getElementById("drop-area");

        function dragEnterHandler(e) {
            dropArea.style.backgroundColor = "#e0e0fc";
        }
        function dragLeaveHandler(e) {
            dropArea.style.backgroundColor = "#f3f3fe";
        }
        function dropHandler(e) {
            dropArea.style.backgroundColor = "#f3f3fe";
        }

        dropArea.addEventListener("dragenter", dragEnterHandler, false);
        dropArea.addEventListener("dragleave", dragLeaveHandler, false);
        // dropArea.addEventListener("dragover", dragEnterHandler, false);
        dropArea.addEventListener("drop", dropHandler, false); {% endcomment %}
    </script>

    {% csrf_token %}
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src = "{% static 'Account/js/upload_research.js' %}"></script>
    <script src = "{% static 'Account/js/delete_research.js' %}"></script>
</body>

</html>
