.nav-wrapper {
    background-color: #1b0125 !important;
    font-size: 14px;
    font-weight: bold;
}
.brand-logo {
    margin-left: 2%;
}

.page-footer {
    background-color: black !important;
}
#progressUploadingResearch {
    padding-left: 10%;
}
