<html>
    <head>
        <meta charset="utf-8" />
        <title>Регистрация</title>        
    </head>
    <body>
        <form method="post" action="/home/register">
            Иия: <input type="text" name="user_name" id="user_name"/><br />
            Фамилия: <input type="text" name="user_surname" id="user_surname"/> <br />
            Логин: <input type="text" name="user_login" id="user_login"/><br />
            Почта: <input type="text" name="user_mail" id="user_mail"/><br />
            Пароль: <input type="text" name="user_password" id="user_password"/><br />
            Подтвердите пароль: <input type="text" name="confirm_password" id="confirm_password"/><br />
            {% csrf_token %}

            <input type="submit" value="Submit" placeholder="Отправить" />
        </form>
    </body>
</html>